<blockquote class="blockquote">
	<div class="text-center">

		<img src="/images/logo.svg" width="16" style="opacity: 0.2;" alt="99quotes.me">
		<img src="/images/logo.svg" width="16" style="opacity: 0.2" alt="99quotes.me">
		<img src="/images/logo.svg" width="16" style="opacity: 0.2" alt="99quotes.me">

	</div>
	{{#if hasImage}}
		<div class="my-3">
			<img class="img-fluid rounded" src="/quote-images/{{_id}}.jpg" alt="{{author.name}} - {{text}}" title="{{author.name}} Quote"/>
		</div>
	{{/if}}
	<p>
		<span class="text-success d-none quote-dash">&mdash;</span>
		{{text}}
		<a class="text-muted" target="_blank" href="/quotes/{{author.slug}}/q-{{_id}}">
			<i class="material-icons quote-icon ">open_in_new</i>
		</a>
		<!--<a class="text-muted" target="_blank" href="/quote-images/{{_id}}.jpg">-->
		<!--<i class="material-icons quote-icon ">image</i>-->
		<!--</a>-->
		<!--<i class="material-icons text-muted" style="font-size:0.9em">share</i>-->
	</p>

	{{#if author.name}}
		<footer class="blockquote-footer">
			<cite title="{{author.name}}">
				<a href="/quotes/{{author.slug}}">{{author.name}}</a>,
				<a href="/professions/{{author.profession}}">{{profName author.profession}}</a>
			</cite>
		</footer>
	{{/if}}
</blockquote>
