<div class="row">
	<div class="col-12">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb px-0 bg-transparent">
				<li class="breadcrumb-item"><a class="" href="/">Main</a></li>
				<li class="breadcrumb-item active" aria-current="page">Authors on &laquo;<span class="text-uppercase">{{letter}}</span>&raquo;</li>
			</ol>
		</nav>
	</div>
</div>

<div class="row mb-3">
	<div class="col-12">
		<h1 class="text-center">Quote Authors by letter <span class="text-uppercase">{{letter}}</span></h1>
	</div>
</div>
<div class="row">
	<div class="col-12">
	<!--<div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">-->
		<ul class="row list-unstyled">
			{{#each authors}}
				<li class="list-item col-md-4 col-lg-3 col-sm-6 col-6"><a href="/quotes/{{slug}}">{{name}}</a>, <a class="small text-muted" href="/professions/{{profession}}">{{profName profession}}</a></li>
			{{/each}}
		</ul>
	</div>
</div>
