<div class="row">
	<div class="col-12">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb px-0 bg-transparent">
				<li class="breadcrumb-item"><a class="" href="/">Main</a></li>
				<li class="breadcrumb-item"><a class="" href="/professions">Professions</a></li>
				<li class="breadcrumb-item active" aria-current="page">{{profName profession}}s</li>
			</ol>
		</nav>
	</div>
</div>

<div class="row mb-3">
	<div class="col-12">
		<h1 class="text-center">{{profName profession}}s</h1>
	</div>
	<div class="col-12 text-center">
		Or See <a href="/professions/{{profession}}/quotes">All {{profName profession}}'s Quotes &rarr;</a>
	</div>
</div>
<div class="row">
	<!--<div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">-->

	<div class="col-12 mt-3">
		Quick navigation:
		{{#each alphabet}}
			<a href="#letter-{{this}}" class="text-uppercase text-muted">{{this}}</a>
		{{/each}}
	</div>

	<div class="col-12">
		{{#each authorsByLetters}}
			<h3 class="mb-3 mt-3" id="letter-{{_id}}">Letter: <span class="text-uppercase"><a href="/authors/{{_id}}">{{_id}}</a></span></h3>
			<hr/>
			<ul class="row list-unstyled">
				{{#each authors}}
					<li class="list-item col-md-4 col-lg-3 col-sm-6 col-6 mb-2"><a href="/quotes/{{slug}}">{{name}}</a></li>
				{{/each}}
			</ul>
		{{/each}}
	</div>
</div>
