<div class="row">
	<div class="col-12">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb px-0 bg-transparent">
				<li class="breadcrumb-item"><a class="" href="/">Main</a></li>
				<li class="breadcrumb-item active" aria-current="page">{{author.name}} Quotes</li>
			</ol>
		</nav>
	</div>
</div>

<div class="row">
	<div class="col-12 text-center">
		<h1>{{author.name}} Quotes</h1>
		Profession: <a href="/professions/{{author.profession}}">{{profName author.profession}}</a>
	</div>
	{{#if author.image}}
		<div class="col-12 text-center my-3">
			<img  style="max-height: 300px; max-width: 300px;" class="img-fluid rounded shadow-lg" src="/images/authors/{{author.image}}" alt="{{author.name}} Photo" title="{{author.name}}"/>
		</div>
	{{/if}}
	<div class="col-12 text-center mt-3 ">
		<h6>{{author.name}} Quotes About:</h6>
	</div>
	<div class="col-lg-8 offset-lg-2 mb-3 text-center">
		{{#each tags}}
			<span  class="badge"><a title="{{../author.name}} quotes about {{name}}" href="/quotes/{{../author.slug}}/{{slug}}">{{name}}</a> <sup class="text-muted">{{count}}</sup></span>
		{{/each}}
	</div>
</div>

<div class="row mt-3 author-quotes">
	{{#each quotes}}
		<div class="col-lg-8 offset-lg-2 my-3">
			{{>quote}}
		</div>
	{{/each}}
</div>
