<div class="row">
	<div class="col-12">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb px-0 bg-transparent">
				<li class="breadcrumb-item"><a class="" href="/">Main</a></li>
				<li class="breadcrumb-item active"><a class="" href="/quotes/{{author.slug}}">{{author.name}} Quotes</a></li>
				<li class="breadcrumb-item active" aria-current="page">About <span class="text-capitalize">{{topic.name}}</span></li>
			</ol>
		</nav>
	</div>
</div>

<div class="row">
	<div class="col-12 text-center">
		<h1>{{author.name}} Quotes About <span class="text-capitalize">{{topic.name}}</span></h1>
		Profession: <a href="/professions/{{author.profession}}">{{profName author.profession}}</a>
		<br/>
	</div>
	{{#if author.image}}
		<div class="col-12 text-center mt-3">
			<img  style="max-height: 300px; max-width: 300px;" class="img-fluid rounded shadow-lg" src="/images/authors/{{author.image}}" alt="{{author.name}} Photo" title="{{author.name}}"/>
		</div>
	{{/if}}
	<div class="col-12 text-center mt-3">
		<a class="" href="/quotes/{{author.slug}}">All Quotes by {{author.name}} &rarr;</a>
	</div>


</div>

<div class="row mt-3 author-quotes">
	{{#each quotes}}
		<div class="col-lg-8 offset-lg-2 my-3">
			{{>quote}}
		</div>
	{{/each}}
</div>
