<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
	<link rel="manifest" href="/images/favicons/site.webmanifest">
	<link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#822828">
	<link rel="shortcut icon" href="/images/favicons/favicon.ico">
	<meta name="msapplication-TileColor" content="#ffc40d">
	<meta name="msapplication-config" content="/images/favicons/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<!--<link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700" rel="stylesheet">-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<title>{{title}}</title>
	<meta name="description" content="{{description}}">
	<link rel="canonical" href="https://99quotes.me{{canonical}}">
	<meta property="og:title" content="{{title}}">
	<meta property="twitter:title" content="{{title}}">
	<meta property="twitter:text" content="{{description}}">

	{{#if metaImage}}
		<meta property="og:image" content="https://99quotes.me{{metaImage}}">
		<meta name="twitter:image" content="https://99quotes.me{{metaImage}}">
		<meta name="twitter:card" content="summary_large_image">
	{{/if}}

	<meta name="p:domain_verify" content="f4d0c99742a48343dc3b2f901c29daa4"/>

	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
		(adsbygoogle = window.adsbygoogle || []).push({
			google_ad_client: "ca-pub-3435596736163213",
			enable_page_level_ads: true
		});
	</script>

	<!-- Google Tag Manager -->
	<script>(function (w, d, s, l, i) {
		w[l] = w[l] || [];
		w[l].push({
			'gtm.start':
							new Date().getTime(), event: 'gtm.js'
		});
		var f = d.getElementsByTagName(s)[0],
						j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
		j.async = true;
		j.src =
						'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
		f.parentNode.insertBefore(j, f);
	})(window, document, 'script', 'dataLayer', 'GTM-MH3PSFW');</script>
	<!-- End Google Tag Manager -->

</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
	<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MH3PSFW"
	        height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<nav class="navbar navbar-light bg-light navbar-expand-lg">
	<a class="navbar-brand" href="/">
		<img src="/images/logo.svg" width="30" height="30" class="d-inline-block align-top mr-1" alt="">
		99quotes.me
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Authors
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<div class="dropdown-header">
						<div class="container" style="min-width:300px;">
							<div class="row">
								<div class="col-12 px-0">
									{{#each alphabet}}<a href="/authors/{{this}}" style="margin-right: 2px;" class="text-uppercase">{{this}}</a>{{/each}}
								</div>
							</div>


							<div class="row mt-2">
								<div class="col-12 px-0">
									<h3 class="h6">Authors by profession</h3>
									<ul class="row list-unstyled">
										{{#each professions}}
											<li class="list-item col-md-6 col-lg-4 col-sm-6 col-6"><a class="small text-muted" href="/professions/{{slug}}">{{name}}s</a></li>
										{{/each}}
									</ul>

								</div>
							</div>

						</div>
					</div>
				</div>
			</li>


			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Topics
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<div class="dropdown-header">
						<div class="container" style="min-width:300px;">
							<div class="row">
								<div class="col-12 px-0">
									<h3 class="h6">Popular quote topics</h3>
									<ul class="row list-unstyled small  text-capitalize">
										{{#each topics}}
											<li class="list-item col-md-6 col-lg-4 col-sm-6 col-6"><a class="text-muted" href="/quotes/{{slug}}" title="Quotes about {{name}}">{{name}}</a></li>
										{{/each}}
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li class="nav-item">
			</li>
		</ul>
		<a href="https://twitter.com/99quotes_me" class="mr-2" target="_blank"><i class="fab fa-twitter"></i></a>
		<a href="https://www.pinterest.com/the99quotes/" class="mr-2" target="_blank"><i class="fab fa-pinterest"></i></a>
		<a href="https://t.me/the99quotes" class="mr-2" target="_blank"><i class="fab fa-telegram"></i></a>


		<form class="form-inline my-2 my-lg-0" action="/search">
			<div class="input-group">
				<input class="form-control" type="search" name="q" required minlength="2" placeholder="Search by author..." aria-label="Search" {{#if q}}value="{{q}}"{{/if}}>
				<div class="input-group-append">
					<button class="btn btn-outline-success" type="submit">Search</button>
				</div>
			</div>
		</form>

	</div>


</nav>

<div class="container">
	{{{body}}}
</div>
<div class="bg-light">
	<div class="container py-3">


		<div class="row mt-3">
			<div class="col-12">
				<div>
					<div class="h6">Authors:</div>
					{{#each alphabet}}<a href="/authors/{{this}}" style="margin-right: 2px;" class="text-uppercase">{{this}}</a>{{/each}}
				</div>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-12">
				<h3 class="mb-3 h6">Quotes about</h3>
				<ul class="row list-unstyled">
					{{#each topics}}
						<li class="list-item col-md-3 col-lg-2 col-sm-4 col-6"><a class="small text-muted text-capitalize" href="/quotes/{{slug}}">{{name}}</a></li>
					{{/each}}
				</ul>

			</div>
		</div>

		<div class="row mt-3">
			<div class="col-12">
				<h3 class="mb-3 h6">Quotes by profession</h3>
				<ul class="row list-unstyled">
					{{#each professions}}
						<li class="list-item col-md-3 col-lg-2 col-sm-4 col-6"><a class="small text-muted" href="/professions/{{slug}}">{{name}} Quotes</a></li>
					{{/each}}
				</ul>

			</div>
		</div>


		<div class="row my-3">
			<div class="col-12">
				<a href="https://twitter.com/99quotes_me" class="mr-2" target="_blank"><i class="fab fa-twitter"></i></a>
				<a href="https://www.pinterest.com/the99quotes/" class="mr-2" target="_blank"><i class="fab fa-pinterest"></i></a>
				<a href="https://t.me/the99quotes" class="mr-2" target="_blank"><i class="fab fa-telegram"></i></a>
			</div>
		</div>
		<div class="row my-3 ">
			<div class="col-12 small text-muted">&copy; 99quotes.me 2018</div>
		</div>

	</div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<!--<script defer src="https://use.fontawesome.com/releases/v5.6.0/js/all.js" integrity="sha384-z9ZOvGHHo21RqN5De4rfJMoAxYpaVoiYhuJXPyVmSs8yn20IE3PmBM534CffwSJI" crossorigin="anonymous"></script>-->
<script src="/js/infinite-scroll.pkgd.min.js"></script>
<script>
	$('.infinite-scroll').infiniteScroll({
		path: '.pagination__next',
		append: '.infinite-item',
		status: '.scroller-status',
		hideNav: '.pagination',
	});
</script>
<script defer src="https://use.fontawesome.com/releases/v5.7.1/js/all.js" integrity="sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7" crossorigin="anonymous"></script>
</body>
</html>
