a {
  color: #28a745; }

a:hover {
  color: #1c692f; }

a .quote-icon {
  font-size: 0.9em;
  vertical-align: middle; }

.single-quote a .quote-icon {
  display: none; }

.underlined {
  border-bottom: 1px solid;
  text-decoration: none; }

.underlined:hover {
  border-bottom: none;
  text-decoration: none; }

.no-underline, .no-underline:hover {
  text-decoration: none; }

.author-quotes footer.blockquote-footer {
  display: none; }

.author-quotes .quote-dash {
  display: inline !important; }

/*# sourceMappingURL=style.css.map */