<div class="row mt-5 mb-3">
	<div class="col-lg-8 offset-lg-2 text-center ">
		<h1>The Best Quotes About All</h1>
	</div>
</div>

<div class="row">
	<div class="col-lg-8 offset-lg-2 my-3">
		{{#with quote}}
			<div class="jumbotron bg-white shadow-lg">
				{{>quote}}
			</div>
		{{/with}}
	</div>
</div>


