<div class="row">
	<div class="col-12">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb px-0 bg-transparent">
				<li class="breadcrumb-item"><a class="" href="/">Main</a></li>
				<li class="breadcrumb-item"><a class="" href="/professions">Professions</a></li>
				<li class="breadcrumb-item"><a class="" href="/professions/{{profession}}">{{profName profession}}s</a></li>
				<li class="breadcrumb-item active" aria-current="page">{{profName profession}} Quotes</li>
			</ol>
		</nav>
	</div>
</div>

<div class="row">
	<div class="col-lg-8 offset-lg-2">
		<h1 class="text-center">{{profName profession}} Quotes</h1>
	</div>
</div>

<div class="row infinite-scroll">

	{{#each quotes}}
		<div class="col-lg-8 offset-lg-2 infinite-item my-3">
			{{>quote}}
		</div>
	{{/each}}
</div>

<div class="scroller-status">

	<div class="infinite-scroll-request text-center">
		<img src="/images/loader.svg" style="width: 128px;" class="my-5"/>
	</div>
	<p class="infinite-scroll-last text-center alert alert-success">You reach the end of this page. Sorry but no more quotes :) Please <a href="/professions/{{profession}}/quotes">start from beginning &rarr;</a></p>
	<p class="infinite-scroll-error text-center">No more pages to load</p>
</div>
<div class="text-center pagination">
	{{#if nextPage}}
		<a class="pagination__next" href="/professions/{{profession}}/quotes?page={{nextPage}}">Next Page</a>
	{{/if}}
</div>
