<div class="row">
	<div class="col-12">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb px-0 bg-transparent">
				<li class="breadcrumb-item"><a class="" href="/">Main</a></li>
				<li class="breadcrumb-item active" aria-current="page"><a class="" href="/quotes/{{quote.author.slug}}">{{quote.author.name}} Quotes</a></li>
				<li class="breadcrumb-item active" aria-current="page">{{trimByWords quote.text 30}}...</li>
			</ol>
		</nav>
	</div>
</div>

<div class="row">
	<div class="col-lg-8 offset-lg-2 mb-5 mt-3">
		<div class="my-5">
			{{#with quote}}
			<div class="jumbotron bg-white shadow-lg single-quote">
				{{>quote}}
			</div>
			{{/with}}
		</div>
	</div>
</div>



