<div class="row">
	<div class="col-12">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb px-0 bg-transparent">
				<li class="breadcrumb-item"><a class="" href="/">Main</a></li>
				<li class="breadcrumb-item active" aria-current="page">Professions</li>
			</ol>
		</nav>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<h1 class="my-5">All Professions</h1>
		<ul class="row list-unstyled">
			{{#each professions}}
				<li class="list-item col-md-6 col-lg-4 col-sm-12 col-12 mb-2">{{name}} <span class="small"><a class="" href="/professions/{{slug}}">Authors</a>, <a class="" href="/professions/{{slug}}/quotes">Quotes</a></span></li>
			{{/each}}
		</ul>

	</div>
</div>
