<div class="row">
	<div class="col-12">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb px-0 bg-transparent">
				<li class="breadcrumb-item"><a class="" href="/">Main</a></li>
				<li class="breadcrumb-item active" aria-current="page">Topics</li>
			</ol>
		</nav>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<h1 class="my-5">All Topics</h1>
		<ul class="row list-unstyled">
			{{#each topics}}
				<li class="list-item col-md-6 col-lg-4 col-sm-12 col-12 mb-2"><a class="text-capitalize" href="/quotes/{{slug}}">Quotes About {{name}}</a></li>
			{{/each}}
		</ul>

	</div>
</div>
